{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="mt-4 container border-general">
        <div>
            <h2 class="px-3">A propos du  Gueuleton Gastronomique</h2><br>
        </div> 

        <div class="container">
            <p>
                Le Gueuleton Gastronomique est bien plus qu'un restaurant, c'est une expérience culinaire exceptionnelle
                qui invite à un voyage gustatif mémorable. Nous sommes passionnément dévoués à offrir bien plus qu'un repas ;
                chaque plat est une création soigneusement élaborée, une œuvre d'art gastronomique qui émerveille les papilles.
            </p>
            <p>
                Notre restaurant s'engage à offrir une expérience unique, où la passion pour la cuisine raffinée se mêle
                à l'art de recevoir. Chaque visite chez "Le Gueuleton Gastronomique" est une célébration de la gastronomie française,
                où la qualité des ingrédients et la créativité culinaire se conjuguent pour offrir un festin inoubliable.
            </p>
            <p>
                Nous sommes fiers de créer un espace où les convives peuvent explorer une palette de saveurs exquises,
                découvrant la richesse de notre cuisine à travers chaque plat délicatement préparé par notre équipe de chefs talentueux.
                au Le Gueuleton Gastronomique, chaque repas raconte une histoire de passion pour la gastronomie et d'engagement envers
                l'excellence culinaire.
            </p>
            <p>
                Rejoignez-nous dans cette aventure culinaire où chaque bouchée est une expérience, et où chaque repas
                devient une célébration de l'art de bien manger. Bienvenue au Gueuleton Gastronomique!
            </p>
            <br>
        </div>
    </div>
</div>
{% endblock %}
