{% extends 'base.html.twig'%} 
{% block body %}
<div class="container col-3 justify-content-center mt-4 mx-auto border-general">
    <div class="container px-2">
    <h1 class=" mb-4">Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email,  {'attr': {'placeholder': 'email', 'class': 'form-block' }}) }}
        <div class="mb-3">
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary  mx-sm-4 mb-2">Envoyer</button>
    {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
