{% extends 'base.html.twig' %}

{% block body %}
 
<div class="container  col-2 justify-content-center mt-4 mx-auto border-general">
    <div class="container">
    <h1 class="mb-4">Reset your password</h1>
    
    {{ form_start(resetForm) }}

    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary  mx-sm-4 mb-2">Reset password</button>
    {{ form_end(resetForm) }}
    </div>
</div>


{% endblock %}

